*{
	font-family: 'Montserrat', sans-serif
}

.navbar {
   background-color: #ff6200 !important;
}

.navbar-brand{
	font-family: 'Righteous', cursive;
	color: white;
}

.nav-link{
	font-size:20px;
	margin: 0 5px;
	font-weight: 500;
}

.container{
	margin-top:10vh; 
}

/*Article*/

#article h1{
	font-weight: 700;
}

#article h6 span{
	color: #ff6200;
}

#article img{
	max-width: 52vw;
	height: auto;
}

#article .images{
	background-image:url(images/pic1.jpg);
	background-size: 120vh;
	background-position: center;
	background-repeat: no-repeat;

	min-height: 50vh;
}

#recommended{
	position: fixed;
	right: 5vh;
	margin-top: 2vh;
}

.recommend{
	margin: 20px 0;
}

.recommend .images{
	background-image:url(images/pic1.jpg);
	background-size: 25vh;
	background-position: center;
	background-repeat: no-repeat;

	min-height: 10vh;
}

/*Recipe*/
#recipe h1{
	font-weight: 700;
}

#recipe h6 span{
	color: #ff6200;
}

#recipe img{
	max-width: 52vw;
	height: auto;
}

#recipe .images{
	background-image:url(images/pic1.jpg);
	background-size: 120vh;
	background-position: center;
	background-repeat: no-repeat;

	min-height: 50vh;
}

#recommended{
	position: fixed;
	right: 5vh;
	margin-top: 2vh;
}

.recommend{
	margin: 20px 0;
}

.recommend .images{
	background-image:url(images/pic1.jpg);
	background-size: 25vh;
	background-position: center;
	background-repeat: no-repeat;

	min-height: 10vh;
}

/*Comment area*/
.comments p{
	margin: 0;
}

.comments{
	margin: 10px 0;
}

.comments .name{
	color:#ff6200;
	font-weight: 700;
}

form{
	text-align: right;
}

form .form-group{
	text-align: left;
}

.tags span:hover{
	color:#ff6200;
	cursor: pointer;
}